<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="style.css">
<style>
body,h1 {font-family: "Raleway", sans-serif}Your location
body, html {height: 100%}
.bgimg {
  background-image: url('https://i.imgur.com/EL8RbY9.png');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">WHO IS THIS?</h1>

     <center>
        <br>
      <form action="/action_page.php">
    <select name="fname" id="nameselect">
        <option value="fels">Fels</option>
        <option value="nas">Nas</option>
        <option value="other">Someone... else...</option>
    </select>
     <label for="hours">Hours worked today:</label><br>
     <input type="text" id="hours" name="hoursworked"><br><br>
     <input type="submit" value="Submit">
      </form>
     </center>
     </p>
  </div>
</div>

</body>
</html>
